body {
    font-family: sans-serif;
    background-color: #3e6d38; 
    color: #FFFFFF; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

h1, h2 {
    color: #86be5b; 
}

button {
    background-color: #86be5b;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

#category-selection, #question-screen, #answer-screen {
    background-color: #FFFFFF;
    color: #3e6d38;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.options button {
    width: calc(50% - 20px); 
}

#answer-result {
    margin-bottom: 20px;
}

.incorrect {
    background-color: orange; 
}

#answer-result.incorrect {
    color: orange; 
    background-color: white;
    padding: 5px 10px; 
    border-radius: 5px;  
}

#header {
    width: 100%;
    z-index: 100; 
}

#header img {
    height: 150px; 
    width: auto;   
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3e6d38;
    color: white;
    text-align: center;
    padding: 10px 0; 
}