body {
    font-family: sans-serif;
    background-color: #3e6d38; 
    color: #FFFFFF; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2 {
    color: #86be5b; 
}

button {
    background-color: #86be5b;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#category-selection, #question-screen, #answer-screen {
    background-color: #FFFFFF;
    color: #3e6d38;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.options button {
    width: calc(50% - 20px); 
}

#answer-result {
    margin-bottom: 20px;
}

#answer-result.incorrect {
    color: orange; 
    background-color: white;
    padding: 5px 10px; /* Add some padding for visual clarity */
    border-radius: 5px;  /* Optional: Add rounded corners */
}

#header img {
    height: 150px;
    width: auto;   /* Let the width adjust automatically to maintain aspect ratio */
}